* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
/* Cabeçalho*/

header {
    background-image: url(../wallpaper/wallp\ head.png);
    color: rgb(22, 255, 1);
    text-align: left;
    padding: 80px;
    font-family: Georgia;
    border-bottom: 1px solid #d50404;
    background-size: cover;
    background-position: center;
}

/* Grade de produto */

.container{
    background-color: rgb(239, 223, 223);
    min-height: 10vh;
    padding: 30px;
    background-image: url(../wallpaper/peakpx\ \(1\).jpg);
    background-position: center;
    background-size:cover;
    

}
.produto-container{
    max-width: 1200px;
    margin: 0 auto;
}

.card h3 {
    color: rgb(126, 202, 174);
    font-size: 35px;
    font-family:Helvetica;
}

.card p {
   color: rgb(202, 216, 175);
   background-color: rgba(0, 0, 0, 0.652);
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    background-color: #0000002b;
    width: 46%;
    display: inline-block;
    margin: 3% 1%;
    box-shadow: rgb(158, 44, 193) 0px 13px 27px -5px, 
    rgb(0, 0, 0) 0px 8px 16px -8px;
    text-align: center;
    
}

.produto-image {
    margin: auto;
    height: 430px;
    width: 57%;
    margin-bottom: 40px;
    background-position: center;
    background-size: cover;
}

.btn {
    background-color: #3c493d;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0 15px;
    padding: 10px 35px;
    border: 2px solid #000000;
    position: relative;
    overflow: hidden;
    opacity: .5;
    border-radius: 2rem;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;    
    height: 100%;
    z-index: -1;
    transition: .7 ease;
}
.btn:hover{
    width: 100%;
    opacity: 1;
}

#img-1{
    background-image: url(../img/img1\ PRINCIPAL.jpg);
}

#img-2{
    background-image: url(../img/GTAvv.webp);
}
#img-3{
    background-image: url(../img/resident.jpg);
}

#img-4{
    background-image: url(../img/reddeat.webp);
}


#img-5{
    background-image: url(../img/san-andreas.png);
}

#img-6{
    background-image: url(../img/img4-god.jfif);
}

#img-7{
    background-image: url(../img/god2.jpg);
}

#img-8{
    background-image: url(../img/dragon\ ball.webp);
}
#img-9{
    background-image: url(../img/point.black.jpg);
}
#img-10{
    background-image: url(../img/fort.jpg);
}
#img-11{
    background-image: url(../img/final-fantasy.webp);
}
#img-12{
    background-image: url(../img/mario.brother.jpg);
}
#img-13{
    background-image: url(../img/sub.webp);
}
#img-14{
    background-image: url(../img/BULLY_modal.jpg);
}
#img-15{
    background-image: url(../img/baclk.png);
}

#img-16{
    background-image: url(../img/WARZ.jpg);
}

#img-17{
    background-image: url(../img/SPIDER.webp);
}

#img-18{
    background-image: url(../img/theking.jpg);
}

/* footer */

footer {
    background-image: url(../wallpaper/wallp\ head.png);
    background-color: rgba(41, 46, 46, 0.399);
    color: antiquewhite;
    border-top: 3px solid #d874f1;
    text-align: center;
    padding: 60px;

}
footer h6 {
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

@media(max-width: 800px){

}
.btn1{
    font-family:'Times New Roman', Times, serif;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0 15px;
    padding: 10px 35px;
    position: relative;
    overflow: hidden;
    opacity: .5;
    border-radius: 2rem;
}

.btn1:hover{
    width: 100%;
    opacity: 1;
}